.red{
    background-color: lightgoldenrodyellow;
    color: thistle;
}   

#thirddiv{
    background-color: indigo;
    color: white;
}

#first{
    background-color: yellow;
    color: lightgreen;
    
}